body {  
  background-color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #242222;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-weight: lighter;
  text-align:center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.user-header {
  background-color: #aa9c23;
  width: 55%;
  margin: 0 auto;
  padding: 2rem 0;
}

.user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.user-details {
  padding: 4rem 0;
}

.followers {
  text-align: center;
}

img {
  display: block;
  width: 230px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 2px 8px #000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.repo-names {
  text-transform: Capitalize;
  font-weight: bolder;
  padding:0;
}

.repos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: .75rem;
  margin: 0 1rem;
}

.single-repo {
  background-color: #cecdc6;
  color: #333;
  padding: 1rem;
  min-height: 10rem;
  border: solid 1px #fafafa;
  box-shadow: 1px 2px 4px #000;
  font-size: .9rem;
}

a, a:visited {
  color: #2e2a2a;
}

a:focus {
  background-color: #333;
  color: white;
  outline: none;
  padding: .3rem;
}